.Mycontent-ContentUserLearning {

    padding-top: 1.6rem;

    background-color: white;
  
    /* border-radius: 4px;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px,
      rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px; */
  }
  
  /* from herer  */
  
  /* .Mycontent-ContentUserLearning {
    flex: 1;
    padding: 20px 0;
  } */
  
  /* .Mycontent-ContentUserLearning .Myitem-ContentUserLearning {
    font-size: 16px;
    line-height: 1.5;
  } */
  
  .Myitem-ContentUserLearning {
    display: none;
  }
  
  .Myitem-ContentUserLearning.active {
    display: block;
  }
  
  /* .Myitem-ContentUserLearning-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  } */
  
  /* .Myitem-ContentUserLearning-content {
    padding: 3rem;
  } */
  