.RegitserTeacherStepSection {
  background-color: #fcf9f9 !important;
  width: 100%;
}
.FlexDivTeashers {
  box-sizing: border-box;
  display: flex;
  padding: 20px;
}
.SideBareRegisterTeachersdiv {
  box-sizing: border-box;
  width: 35%;
  /* padding:  20px; */
  border-radius: 10px;

  margin-right: 20px;
  margin-left: 70px;
}
.ContentRegTeachersdiv {
  width: 65%;
  margin: 0 3rem 0 0;
}

@media (max-width: 720px) {
  .SideBareRegisterTeachersdiv {
    display: none;
  }
  .ContentRegTeachersdiv {
    width: 100%;
    margin: 0 1rem;
    padding: 0;
  }

  .FlexDivTeashers {
    padding: 0px;
  }
}

@media (max-width: 820px) {
  .SideBareRegisterTeachersdiv {
    margin-right: 25px;
    margin-left: 25px;
  }
}
